In [17]:
import pandas as pd
from sqlalchemy import create_engine , text

In [18]:
engine = create_engine("mysql+mysqlconnector://root:root@localhost:3307/stocks")

In [19]:
DataFromDB = pd.read_sql('SELECT * FROM stocks.stocks_data s where s.stock_mstr_key = 1;', con=engine)

In [20]:
DataFromDB

,Date,Open,High,Low,Close,Adj Close,Volume,stock_mstr_key
0,2004-08-09,0.53,0.54,0.53,0.54,0.46,290847200.0,1
1,2004-08-10,0.54,0.56,0.54,0.56,0.48,351036000.0,1
2,2004-08-11,0.56,0.56,0.54,0.55,0.47,322392000.0,1
3,2004-08-12,0.54,0.55,0.54,0.54,0.46,226200800.0,1
4,2004-08-13,0.55,0.56,0.54,0.55,0.47,328048000.0,1
...,...,...,...,...,...,...,...,...
4978,2024-08-01,224.37,224.48,217.02,218.36,218.36,61877900.0,1
4979,2024-08-02,219.15,225.60,217.71,219.86,219.86,98480100.0,1
4980,2024-08-05,199.09,213.50,196.00,209.27,209.27,119548600.0,1
4981,2024-08-06,205.30,209.99,201.07,207.23,207.23,69548700.0,1
4982,2024-08-07,206.89,212.81,206.41,212.77,212.77,11590779.0,1

In [21]:
dict(DataFromDB.dtypes)

{'Date': dtype('O'),
 'Open': dtype('float64'),
 'High': dtype('float64'),
 'Low': dtype('float64'),
 'Close': dtype('float64'),
 'Adj Close': dtype('float64'),
 'Volume': dtype('float64'),
 'stock_mstr_key': dtype('int64')}

In [22]:
DataFromDB[['Date_2', 'Open_2', 'High_2', 'Low_2', 'Close_2', 'Adj_Close_2', 'Volume_2']] = DataFromDB[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']].shift(1)
DataFromDB[['Date_3', 'Open_3', 'High_3', 'Low_3', 'Close_3', 'Adj_Close_3', 'Volume_3']] = DataFromDB[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']].shift(2)
DataFromDB[['Date_4', 'Open_4', 'High_4', 'Low_4', 'Close_4', 'Adj_Close_4', 'Volume_4']] = DataFromDB[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']].shift(3)
DataFromDB[['Date_5', 'Open_5', 'High_5', 'Low_5', 'Close_5', 'Adj_Close_5', 'Volume_5']] = DataFromDB[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']].shift(4)
DataFromDB[['Date_6', 'Open_6', 'High_6', 'Low_6', 'Close_6', 'Adj_Close_6', 'Volume_6']] = DataFromDB[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']].shift(5)
DataFromDB[['Date_target', 'Open_target', 'High_target', 'Low_target', 'Close_target', 'Adj_Close_target', 'Volume_target']] = DataFromDB[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',]].shift(-1)

In [23]:
DataFromDB.dropna(axis=0,inplace=True)

In [24]:
DataFromDB.to_csv("./train_data.csv",index=False)

In [25]:
train_df = pd.read_csv('./train_data.csv')

In [26]:
train_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,stock_mstr_key,Date_2,Open_2,...,Close_6,Adj_Close_6,Volume_6,Date_target,Open_target,High_target,Low_target,Close_target,Adj_Close_target,Volume_target
0,2004-08-16,0.55,0.57,0.55,0.55,0.46,435674400.0,1,2004-08-13,0.55,...,0.54,0.46,290847200.0,2004-08-17,0.55,0.56,0.54,0.55,0.47,323019200.0
1,2004-08-17,0.55,0.56,0.54,0.55,0.47,323019200.0,1,2004-08-16,0.55,...,0.56,0.48,351036000.0,2004-08-18,0.54,0.57,0.54,0.57,0.48,364655200.0
2,2004-08-18,0.54,0.57,0.54,0.57,0.48,364655200.0,1,2004-08-17,0.55,...,0.55,0.47,322392000.0,2004-08-19,0.56,0.57,0.54,0.55,0.46,388920000.0
3,2004-08-19,0.56,0.57,0.54,0.55,0.46,388920000.0,1,2004-08-18,0.54,...,0.54,0.46,226200800.0,2004-08-20,0.55,0.55,0.54,0.55,0.46,316780800.0
4,2004-08-20,0.55,0.55,0.54,0.55,0.46,316780800.0,1,2004-08-19,0.56,...,0.55,0.47,328048000.0,2004-08-23,0.55,0.56,0.55,0.56,0.47,254660000.0

In [27]:
train_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'stock_mstr_key', 'Date_2', 'Open_2', 'High_2', 'Low_2', 'Close_2',
       'Adj_Close_2', 'Volume_2', 'Date_3', 'Open_3', 'High_3', 'Low_3',
       'Close_3', 'Adj_Close_3', 'Volume_3', 'Date_4', 'Open_4', 'High_4',
       'Low_4', 'Close_4', 'Adj_Close_4', 'Volume_4', 'Date_5', 'Open_5',
       'High_5', 'Low_5', 'Close_5', 'Adj_Close_5', 'Volume_5', 'Date_6',
       'Open_6', 'High_6', 'Low_6', 'Close_6', 'Adj_Close_6', 'Volume_6',
       'Date_target', 'Open_target', 'High_target', 'Low_target',
       'Close_target', 'Adj_Close_target', 'Volume_target'],
      dtype='object')

In [28]:
train_df.drop(['Date_2','Date_3','Date_4','Date_5','Date_6','Volume','Volume_2','Volume_3','Volume_4','Volume_5','Volume_6','stock_mstr_key'],axis=1,inplace=True,errors='ignore')

In [29]:
train_df

,Date,Open,High,Low,Close,Adj Close,Open_2,High_2,Low_2,Close_2,...,Low_6,Close_6,Adj_Close_6,Date_target,Open_target,High_target,Low_target,Close_target,Adj_Close_target,Volume_target
0,2004-08-16,0.55,0.57,0.55,0.55,0.46,0.55,0.56,0.54,0.55,...,0.53,0.54,0.46,2004-08-17,0.55,0.56,0.54,0.55,0.47,323019200.0
1,2004-08-17,0.55,0.56,0.54,0.55,0.47,0.55,0.57,0.55,0.55,...,0.54,0.56,0.48,2004-08-18,0.54,0.57,0.54,0.57,0.48,364655200.0
2,2004-08-18,0.54,0.57,0.54,0.57,0.48,0.55,0.56,0.54,0.55,...,0.54,0.55,0.47,2004-08-19,0.56,0.57,0.54,0.55,0.46,388920000.0
3,2004-08-19,0.56,0.57,0.54,0.55,0.46,0.54,0.57,0.54,0.57,...,0.54,0.54,0.46,2004-08-20,0.55,0.55,0.54,0.55,0.46,316780800.0
4,2004-08-20,0.55,0.55,0.54,0.55,0.46,0.56,0.57,0.54,0.55,...,0.54,0.55,0.47,2004-08-23,0.55,0.56,0.55,0.56,0.47,254660000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4972,2024-07-31,221.44,223.82,220.63,222.08,222.08,219.19,220.33,216.12,218.80,...,217.13,218.54,218.54,2024-08-01,224.37,224.48,217.02,218.36,218.36,61877900.0
4973,2024-08-01,224.37,224.48,217.02,218.36,218.36,221.44,223.82,220.63,222.08,...,214.62,217.49,217.49,2024-08-02,219.15,225.60,217.71,219.86,219.86,98480100.0
4974,2024-08-02,219.15,225.60,217.71,219.86,219.86,224.37,224.48,217.02,218.36,...,216.01,217.96,217.96,2024-08-05,199.09,213.50,196.00,209.27,209.27,119548600.0
4975,2024-08-05,199.09,213.50,196.00,209.27,209.27,219.15,225.60,217.71,219.86,...,215.75,218.24,218.24,2024-08-06,205.30,209.99,201.07,207.23,207.23,69548700.0
4976,2024-08-06,205.30,209.99,201.07,207.23,207.23,199.09,213.50,196.00,209.27,...,216.12,218.80,218.80,2024-08-07,206.89,212.81,206.41,212.77,212.77,11590779.0

In [30]:
import torch
import torch.nn as nn
import torch.optim as optim

# Encoder model
class Encoder(nn.Module):
    def __init__(self, input_dim, hidden_dim, num_layers):
        super(Encoder, self).__init__()
        self.hidden_dim = hidden_dim
        self.num_layers = num_layers
        self.rnn = nn.LSTM(input_dim, hidden_dim, num_layers, batch_first=True)

    def forward(self, x):
        # x: (batch_size, seq_length, input_dim)
        outputs, (hidden, cell) = self.rnn(x)
        return hidden, cell

# Decoder model
class Decoder(nn.Module):
    def __init__(self, output_dim, hidden_dim, num_layers):
        super(Decoder, self).__init__()
        self.hidden_dim = hidden_dim
        self.num_layers = num_layers
        self.rnn = nn.LSTM(output_dim, hidden_dim, num_layers, batch_first=True)
        self.fc = nn.Linear(hidden_dim, output_dim)

    def forward(self, x, hidden, cell):
        # x: (batch_size, seq_length, output_dim)
        outputs, (hidden, cell) = self.rnn(x, (hidden, cell))
        predictions = self.fc(outputs)
        return predictions, hidden, cell

# Full Encoder-Decoder model
class EncoderDecoder(nn.Module):
    def __init__(self, input_dim, output_dim, hidden_dim, num_layers):
        super(EncoderDecoder, self).__init__()
        self.encoder = Encoder(input_dim, hidden_dim, num_layers)
        self.decoder = Decoder(output_dim, hidden_dim, num_layers)

    def forward(self, src, trg):
        # src: source input (batch_size, seq_length, input_dim)
        # trg: target input (batch_size, seq_length, output_dim)
        hidden, cell = self.encoder(src)
        output, hidden, cell = self.decoder(trg, hidden, cell)
        return output

In [31]:
import torch
import torch.nn as nn
import torch.optim as optim
import numpy as np

import numpy as np
import torch
from sklearn.model_selection import train_test_split

# Source input
X = train_df.drop(['Date', 'Date_target', 'Open_target', 'High_target', 'Low_target', 
                   'Close_target', 'Adj_Close_target', 'Volume_target'], axis=1).values.astype(np.float32)

# Target output
y = train_df[['Open_target', 'High_target', 'Low_target', 'Close_target', 
              'Adj_Close_target', 'Volume_target']].values.astype(np.float32)

# Split the data into training and validation sets (80% train, 20% validation)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Convert to PyTorch tensors
X_train = torch.tensor(X_train)
X_val = torch.tensor(X_val)
y_train = torch.tensor(y_train)
y_val = torch.tensor(y_val)


# Hyperparameters
input_dim = X_train.size(-1)  # Assuming input_dim is the feature size of X_train
output_dim = y_train.size(-1)  # Assuming output_dim is the feature size of y_train
hidden_dim = 50  # Hidden state size for the LSTM
num_layers = 2   # Number of LSTM layers
learning_rate = 0.01
num_epochs = 500

# Instantiate the model
model = EncoderDecoder(input_dim=input_dim, output_dim=output_dim, hidden_dim=hidden_dim, num_layers=num_layers)

# Loss function and optimizer
criterion = nn.L1Loss()  # You can switch to nn.MSELoss() or nn.CrossEntropyLoss() if needed
optimizer = optim.Adam(model.parameters(), lr=learning_rate)

# Training and validation loop
for epoch in range(num_epochs):
    model.train()  # Set model to training mode
    
    # Zero the gradients
    optimizer.zero_grad()
    
    # Forward pass on the training data
    outputs = model(X_train, y_train)  # src = X_train, trg = y_train
    
    # Compute training loss
    loss = criterion(outputs, y_train)
    
    # Backward pass
    loss.backward()
    
    # Update parameters
    optimizer.step()
    
    # Validation phase
    model.eval()  # Set model to evaluation mode
    with torch.no_grad():  # No gradient calculation for validation
        val_outputs = model(X_val, y_val)
        val_loss = criterion(val_outputs, y_val)
    
    # Print loss for every 10 epochs
    if epoch % 10 == 0:
        print(f'Epoch [{epoch+1}/{num_epochs}], Train Loss: {loss.item():.4f}, Val Loss: {val_loss.item():.4f}')

Epoch [1/500], Train Loss: 66055888.0000, Val Loss: 68965384.0000
Epoch [11/500], Train Loss: 66055888.0000, Val Loss: 68965384.0000
Epoch [21/500], Train Loss: 66055888.0000, Val Loss: 68965376.0000
Epoch [31/500], Train Loss: 66055888.0000, Val Loss: 68965368.0000
Epoch [41/500], Train Loss: 66055880.0000, Val Loss: 68965368.0000
Epoch [51/500], Train Loss: 66055880.0000, Val Loss: 68965368.0000
Epoch [61/500], Train Loss: 66055876.0000, Val Loss: 68965368.0000
Epoch [71/500], Train Loss: 66055876.0000, Val Loss: 68965368.0000
Epoch [81/500], Train Loss: 66055876.0000, Val Loss: 68965368.0000
Epoch [91/500], Train Loss: 66055876.0000, Val Loss: 68965360.0000
Epoch [101/500], Train Loss: 66055876.0000, Val Loss: 68965360.0000
Epoch [111/500], Train Loss: 66055876.0000, Val Loss: 68965360.0000
Epoch [121/500], Train Loss: 66055876.0000, Val Loss: 68965360.0000
Epoch [131/500], Train Loss: 66055876.0000, Val Loss: 68965360.0000
Epoch [141/500], Train Loss: 66055872.0000, Val Loss: 68965360.0000
Epoch [151/500], Train Loss: 66055872.0000, Val Loss: 68965360.0000
Epoch [161/500], Train Loss: 66055872.0000, Val Loss: 68965360.0000
Epoch [171/500], Train Loss: 66055872.0000, Val Loss: 68965360.0000
Epoch [181/500], Train Loss: 66055872.0000, Val Loss: 68965360.0000
Epoch [191/500], Train Loss: 66055872.0000, Val Loss: 68965352.0000
Epoch [201/500], Train Loss: 66055864.0000, Val Loss: 68965352.0000
Epoch [211/500], Train Loss: 66055864.0000, Val Loss: 68965352.0000
Epoch [221/500], Train Loss: 66055860.0000, Val Loss: 68965352.0000
Epoch [231/500], Train Loss: 66055860.0000, Val Loss: 68965352.0000
Epoch [241/500], Train Loss: 66055860.0000, Val Loss: 68965352.0000
Epoch [251/500], Train Loss: 66055860.0000, Val Loss: 68965352.0000
Epoch [261/500], Train Loss: 66055860.0000, Val Loss: 68965352.0000
Epoch [271/500], Train Loss: 66055860.0000, Val Loss: 68965352.0000
Epoch [281/500], Train Loss: 66055860.0000, Val Loss: 68965352.0000
Epoch [291/500], Train Loss: 66055860.0000, Val Loss: 68965352.0000
Epoch [301/500], Train Loss: 66055860.0000, Val Loss: 68965352.0000
Epoch [311/500], Train Loss: 66055860.0000, Val Loss: 68965344.0000
Epoch [321/500], Train Loss: 66055860.0000, Val Loss: 68965344.0000
Epoch [331/500], Train Loss: 66055856.0000, Val Loss: 68965344.0000
Epoch [341/500], Train Loss: 66055856.0000, Val Loss: 68965344.0000
Epoch [351/500], Train Loss: 66055856.0000, Val Loss: 68965344.0000
Epoch [361/500], Train Loss: 66055856.0000, Val Loss: 68965344.0000
Epoch [371/500], Train Loss: 66055856.0000, Val Loss: 68965344.0000
Epoch [381/500], Train Loss: 66055856.0000, Val Loss: 68965336.0000
Epoch [391/500], Train Loss: 66055856.0000, Val Loss: 68965336.0000
Epoch [401/500], Train Loss: 66055856.0000, Val Loss: 68965336.0000
Epoch [411/500], Train Loss: 66055856.0000, Val Loss: 68965336.0000
Epoch [421/500], Train Loss: 66055848.0000, Val Loss: 68965336.0000
Epoch [431/500], Train Loss: 66055844.0000, Val Loss: 68965336.0000
Epoch [441/500], Train Loss: 66055844.0000, Val Loss: 68965336.0000
Epoch [451/500], Train Loss: 66055844.0000, Val Loss: 68965336.0000
Epoch [461/500], Train Loss: 66055844.0000, Val Loss: 68965336.0000
Epoch [471/500], Train Loss: 66055844.0000, Val Loss: 68965336.0000
Epoch [481/500], Train Loss: 66055844.0000, Val Loss: 68965336.0000
Epoch [491/500], Train Loss: 66055844.0000, Val Loss: 68965336.0000